 {% for domain in domains %}
  server {
    listen {{ nginx_port }};
    server_name {{ domain }};
    #access_log  logs/{{ service_domain }}.access.log main;
    
    root {{ site_path }};
  }

{% endfor %}